
table {
    width: 90%;
    margin: auto;
}
.btn-edit {
    text-align: right;
}
h2 {
    text-align: center;
    padding-top: 20px;
}

.mg-button {
    margin: 5px;
}



.flex { /* parent des boutons */
    display: flex;
}

.flex .mat-button {
    flex: 1 1 auto;

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}


.ta-mere {
    background-color: red;
}